/*RESET STYLE*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*END RESET STYLE*/

html,
body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100%;
}
._loading-icon {
  background: url("../img/loading.gif") center / 50px no-repeat;
  height: 50px;
}

.page {
  padding: 30px 0;
}

.page__container {
  max-width: 800px;
  margin: 0px auto;
}

.page__section {
  padding: 30px;
}

.page__section_1 {
  background-color: #745f39;
}

.page__section_2 {
  background-color: #50a150;
}
.page__section_3 {
  background-color: #477499;
}

.page__title {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}
.page__text {
  font-size: 16px;
  line-height: 150%;
}
.page__text *:last-child {
  margin-bottom: 0;
}

.page__text p {
  margin: 0px 0px 15px 0px;
}

.page__sub-title {
  font-size: 24px;
  margin: 0px 0px 30px 0px;
}
